{%extends 'base.html'%}
{%block main%}
        <form action="" method="post">
            {% csrf_token %}
        <label for="">
            Employee ID:
            <input type="text" name="eid">
        </label><br><br>
        <label for="">
            Employee Name:
            <input type="text" name="ename">
        </label><br><br>
        <label for="">
            Employee Salary:
            <input type="text" name="esal">
        </label><br><br>
        <input type="submit" value="Submit">
        <p>{{msg}}</p>
        </form>
{%endblock%}